[submodule "lisp/separate-inline.el"]
	path = lisp/separate-inline.el
	url = https://github.com/ingtshan/separate-inline.el.git
[submodule "lisp/lsp-bridge"]
	path = lisp/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "lisp/nerd-fonts.el"]
	path = lisp/nerd-fonts.el
	url = https://github.com/twlz0ne/nerd-fonts.el.git
[submodule "lisp/mind-wave"]
	path = lisp/mind-wave
	url = https://github.com/manateelazycat/mind-wave.git
