*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tutorial
elpa
straight
tramp
eshell
.\#*
.lsp-*

.cache/
cache/
autosave/
backups/
eshell/
transient/
places
recentf
history
projectile-bookmarks.eld
.persistent-scratch
*.elc
*.data
abbrev_defs


# Org-mode
.org-id-locations
*_archive

# Org-roam
## org-roam 能自己重建数据库
org-roam.db

# Mac
.DS_Store

# emacs config
custom-vars.el
